{% extends 'main/base.html' %}
{% load static %}
{% block content %}
      <form method="post">
        {% csrf_token %}
          <label for="title"></label>
          <input id="title" placeholder="title" name="title" value="{{course.title}}"> <br><br>

          <label for="description"></label>
          <input id="description" placeholder="description" name="description" value="{{course.description}}"><br><br>

          <label for="price"></label>
          <input id="price" placeholder="price" name="price" value="{{course.price}}"><br><br>

          <button type="submit" class="btn btn-secondary btn-sm">Update</button>

      </form>

{% endblock %}